.itemdetail {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    gap: 15rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.itemdetail__imagen img {
    max-width: 100%;
    height: 400px;
}

.itemdetail__informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.itemdetail__informacion p {
    margin: 0;
}

.itemdetail__categoria {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.itemdetail__nombre {
    font-size: 2.7rem;
    font-weight: bold;
}

.itemdetail__precio {
    font-size: 3.5rem;
    font-weight: bold;
}

.itemdetail__btns {
    text-align: center;
    display: flex;
    gap: 1rem;
}

.btn_gotocart,
.btn_gotoproducts {
    border: none;
    background-color: white;
    border: 1px solid black;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.btn_gotocart:hover,
.btn_gotoproducts:hover {
    background-color: black;
    color: white;
}


/* MEDIA QUERIES // MEDIA QUERIES // MEDIA QUERIES //MEDIA QUERIES //MEDIA QUERIES //
MEDIA QUERIES //MEDIA QUERIES //MEDIA QUERIES //MEDIA QUERIES //MEDIA QUERIES //*/

@media(max-width:768px){
    .itemdetail{
        margin-top: 5rem;
        margin-bottom: 5rem;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    
    .itemdetail__informacion{
        gap: 1rem;
    }

    
}