.contenedor-item {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s;
    border: 0.5px solid #115982;
}

.contenedor-item:hover {
    -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.75);
}

.item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 40rem;
}

.item img {
    max-width: 100%;
    height: auto;
}


.item p {
    margin: 1rem 0;
}

.item .nombre{
    font-weight: bold;
}

.item .precio {
    color: rgb(220, 20, 60);
    font-weight: bold;
    margin: 0;
}



.contenedor-count {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem;
}

.contenedor-count p {
    margin: 1rem 0;
}

.contenedor-count button {
    font-size: 2rem;
    border: none;
    cursor: pointer;
    color: rgb(0, 191, 255);
    background-color: white;
}

.contenedor-count button:active {
    color: blue
}

.contenedor-addToCart {
    text-align: center;
    padding: 1rem;
}

.addToCart {
    width: 100%;
    border: none;
    color: white;
    background-color: #115982;
    border: 1px solid rgb(0, 191, 255);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all ease 0.3s;
}

.addToCart:hover {
    background-color: rgb(0, 191, 255);
    color: black
}