li {
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

span {
    white-space: nowrap;
}

.header {
    background-color: #00bfff;
    background-image: linear-gradient(270deg, #00bfff 0%, #115982 100%);
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}


/* NAVBAR TOP // NAVBAR TOP // NAVBAR TOP // NAVBAR TOP // NAVBAR TOP // 
NAVBAR TOP // NAVBAR TOP // NAVBAR TOP // NAVBAR TOP // NAVBAR TOP // */

.contenedor-nav-top {
    padding-top: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
}


.top,
.bot {
    list-style: none;
    padding: 0;

}

.top {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 2rem;
}

.top .menu {
    display: none;
}

.menu button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.top img {
    max-height: 54px;
}

.top-search {
    padding: 0.2rem;
    border: 2px solid rgb(0, 191, 255);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.top input {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.top .cart,
.top .user {
    text-align: right;
}

.li-right-top {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

/* NAVBAR BOT // NAVBAR BOT // NAVBAR BOT // NAVBAR BOT // NAVBAR BOT // 
NAVBAR BOT // NAVBAR BOT // NAVBAR BOT // NAVBAR BOT // NAVBAR BOT // */

.contenedor-nav-bot {
    overflow: hidden;
}

.bot {
    margin-right: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 4rem;

}

.bot a {
    font-size: 1.8rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.bot a:hover {
    color: rgb(0, 191, 255);
    text-decoration: underline;
}






/* MEDIA QUERIES // MEDIA QUERIES // MEDIA QUERIES // MEDIA QUERIES // 
MEDIA QUERIES // MEDIA QUERIES // MEDIA QUERIES // MEDIA QUERIES // MEDIA QUERIES //  */

@media(max-width:907px) {
    .top span {
        display: none;
    }

    .top .cart,
    .top .user {
        justify-content: space-between;
    }

}


@media (max-width:768px) {
    .top {
        grid-template-columns: auto auto auto;
        gap: 1rem;
    }

    .top .menu {
        display: block;
        text-align: start;
    }


    .top img {
        max-width: 100%;
        height: auto;
    }

    .top-search {
        grid-row: 2/3;
        grid-column: 1/5;
        margin-left: 0;
    }

    .top .li-right-top {
        grid-column: 3/5;
        justify-content: space-around;
    }

    .bot {
        display: none;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        background-color: rgb(40, 185, 233);
    }

    .bot a {
        transition: none;
        text-align: center;
        width: 100%;
        padding: 2rem;
    }


    .bot a:hover {
        background-color: #115982;
    }





}