.contenedor-navbar {
    background-color: rgb(0, 191, 255);
}

.contenedor-navbar ul {
    list-style: none;
}

.navbar {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: black;
}

.contenido-navbar {
    display: flex;
}


/* NAVBAR DEL INICIO// NAVBAR DEL INICIO//NAVBAR DEL INICIO//NAVBAR DEL INICIO//
NAVBAR DEL INICIO//NAVBAR DEL INICIO//NAVBAR DEL INICIO//NAVBAR DEL INICIO//*/
.left {
    margin-left: 1rem;
    align-items: center;
    gap: 2rem;
}

/* le ponemos font size 0 porque al parecer hay un espacio en blanco generando
una altura adicional*/
.left li {
    display: inline-block;
    font-size: 0;
}

/* le ponemos font size 0 porque al parecer hay un espacio en blanco generando
una altura adicional*/
.left a {
    display: inline-block;
    font-size: 0;
}

.left img {
    height: 7rem;
    width: 10rem;
}


.left input {
    padding: 1rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.5rem;
}







/* NAVBAR DEL MEDIO// NAVBAR DEL MEDIO//NAVBAR DEL MEDIO//NAVBAR DEL MEDIO//NAVBAR DEL MEDIO//
NAVBAR DEL MEDIO//NAVBAR DEL MEDIO//NAVBAR DEL MEDIO//NAVBAR DEL MEDIO//NAVBAR DEL MEDIO// */

/*este display block nos ayuda a que los enlaces vayan uno debajos de otros
    y tengan más separacion*/
.center a {
    display: inline-block;
}


.center {
    margin-right: 7rem;
    font-size: 3rem;
    gap: 2rem;
}

.center>li>a {
    padding: 2rem;
    transition: all ease 0.3s;
}

.center>li>a:hover {
    color: white;
}

.center li:first-child {
    position: relative;
}

.submenu {
    position: absolute;
    background-color: white;
    display: none;
    transition: all 0.3s ease;
}


.submenu li a {
    padding: 1.5rem 5rem 1.5rem 0.5rem;
    color: black;
    font-size: 1.7rem;
}

.submenu li a:hover {
    color: rgb(220, 20, 60) !important;
    font-weight: bold;
}


/* cuando hacemos esta sintacis de hover no podemos irnos mas arriba
de .center li:first-child, solo a sus elementos hijos */
.center li:first-child:hover .submenu {
    display: block;
}

.center li:first-child:hover>a {
    color: white;
}



/* NAVBAR DEL FINAL// NAVBAR DEL FINAL//NAVBAR DEL FINAL//NAVBAR DEL FINAL//NAVBAR DEL FINAL//
NAVBAR DEL FINAL//NAVBAR DEL FINAL//NAVBAR DEL FINAL//NAVBAR DEL FINAL//NAVBAR DEL FINAL//*/

.end {
    margin-right: 5rem;
    gap: 3rem;
    align-items: center;
    white-space: nowrap;
}