.contenedor-navbar {
    margin-top: 2rem;
    background-color: rgb(245, 245, 220);
    padding: 0.5rem;
}

.navbar {
    max-width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*display inline block para que el tamaño del enlace sea el tamaño
de la imagen*/
a {
    text-decoration: none;
    color: black;
    display: inline-block;
}


.contenido-navbar {
    display: flex;
}

.contenido-navbar:nth-child(1) {
    align-items: center;
    gap: 2rem;
}

.contenido-navbar:nth-child(1) img {
    height: 7rem;
    width: 10rem;
}

.contenido-navbar:nth-child(2) {
    margin-right: 7rem;
    font-size: 3rem;
    gap: 2rem;
}

.contenido-navbar:nth-child(2) a {
    padding: 2rem;
}

.contenido-navbar:nth-child(2) a:hover {
    background-color: yellow;
}

.contenido-navbar:nth-child(3)  {
    margin-right: 2rem;
    gap: 3rem;
    align-items: center;
}





