.footer {
    background-color: #00bfff;
    background-image: linear-gradient(270deg, #00bfff 0%, #115982 100%);
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    overflow: hidden;
}