

.search-container{
    margin-top: 7rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.msg-search {
    margin: 0rem auto 5rem auto;
    max-width: 130rem;
}

.msg-error {
    max-width: 130rem;
    margin: 5rem auto 5rem auto;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(220, 20, 60);
}