.itemdetail__cantidad{
    font-weight: bold;
}

.itemdetail__count{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.itemdetail__count p{
    margin: 0;
}

.itemdetail__count button, .goToCart{
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.itemdetail__count button:hover, .goToCart:hover{
    background-color: rgb(208, 206, 206)
}

.goToCart{
    max-width: 14.8rem;
}

