.itemdetail__cantidad{
    font-weight: bold;
    font-size: 2rem;
}

.itemdetail__count{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.itemdetail__count p{
    margin: 0;
    font-size: 3rem;
}

.itemdetail__count button, .goToCart{
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}


.itemdetail__count button:hover, .goToCart:hover{
    background-color: black;
    color: white;
}

.itemdetail__count button{
    font-size: 2rem;
}

.goToCart{
    font-size: 2rem;
    max-width: 20rem;
}

@media(max-width:768px){
    .goToCart{
        max-width: 100%;
    }
}
